:root {
  --bg: #f7f7f5;
  --white: #ffffff;
  --primary: #1f1f1f;
  --secondary: #6f6f6f;
  --accent: #7a1e2c;
  --border: #e5e5e5;
  --radius: 18px;
}

body{
  background: var(--bg);
  color: var(--primary);
}
/* Header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
  background: var(--bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    color: var(--primary);
}

#navbar .box a {
  color: var(--primary);
}


/* hovver effect */
#navbar li a:hover,
#navbar li a.active {
    color: var(--accent);
}

#navbar .box a:hover {
  color: var(--primary);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: " ";
    width: 30%;
    height: 2px;
    background: var(--accent);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
.top-body{
    display: flex;
    height: 90vh;
    width: 100%;
}

#top-body1{
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#top-body-img img{
height: 94vh;
}

#top-body1 h4{
    padding-bottom: 15px;
}

#top-body1 h1{
    color: var(--accent);
}

#top-body1 button{
    background-color: transparent;
    color: var(--accent);
    border: 3px solid var(--accent);
    border-radius: 30px;
    padding: 10px 60px 10px 50px; /* top, left, bottom, right */
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

#top-body1 button:hover {
   background: var(--primary);
   color: var(--white);
   border: 3px solid var(--primary);
}




/* ================================ features product ================================ */

 #feature {
   align-items: center;
    text-align: center;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 /* ===== product ======= */
 .product-collection {
   padding: 0px 80px 0px 80px;
 }

 .product-collection h1 {
   font-size: 35px;
   text-align: center;
   margin-bottom: 15px;
   font-weight: 600;
 }

 .product-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .product-collection .product-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 20px;
 }

 .product-cart {
   width: 23%;
   min-width: 290px;
   padding: 10px 12px;
   border: 1px solid #e5e5e5;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
   margin: 15px 0;
   transition: 0.3s;
   position: relative;
 }

 .product-collection .img-box {
   width: 100%;
   border-radius: 20px;
   background-color: #eeeeee;
 }

 .product-collection .img-box img {
   width: 100%;
   transition: 0.5s;
 }

 .product-cart:hover {
   transform: scale(1.005);
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
 }

 .product-collection .brand {
   color: #606063;
   font-size: 12px;
 }

 .product-collection .title {
   color: #1a1a1a;
   font-size: 20px;

 }

 .product-collection .price {

   font-size: 15px;
   color: var(--accent);
 }

.product-cart button {
   margin: 16px 40px;
   padding: 13px 51px;
   border-radius: 11px;
   background: var(--accent);
   color: var(--white);
   border: none;
}

.product-cart button:hover {
  background: var(--primary);
}

 /* ========= Product Detail ========== */
 .product-detail {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 40px;
  padding: 26px 7% 0px;
 }

 .product-detail .product-img {
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 12px;
   height: 550px;
 }

 .product-detail .product-img img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .product-detail .thumbnail-list {
   display: flex;
   flex-direction: column;
   gap: 12px;
 }

 .product-detail .thumbnail-list img {
   height: calc(100% / 4 - 9px);
   cursor: pointer;
 }

 .product-detail .title {
   font-weight: 600;
   line-height: 1;
   margin-bottom: 5px;
 }

 .product-detail .price {
   display: block;
   font-size: 25px;
   font-weight: 600;
   margin-top: 10px;
 }

 /* Size boxes styling */
 .size-options {
   display: flex;
   gap: 10px;
   margin-bottom: 15px;
 }

 .size-options input[type="radio"] {
   display: none;
   /* hide the default radio button */
 }

 .size-box {
   border: 1px solid #ccc;
   padding: 10px 15px;
   cursor: pointer;
   border-radius: 5px;
   transition: all 0.2s;
   user-select: none;
   text-align: center;
   font-weight: bold;
 }

 .size-box:hover {
   border-color: #007bff;
   background-color: #f0f8ff;
 }

 .size-options input[type="radio"]:checked+.size-box {
   border-color: #007bff;
   background-color: #007bff;
   color: #fff;
 }

 .btn {
   padding: 12px 50px;
   background: var(--accent);
   border: none;
   font-size: 16px;
   color: var(--white);
   cursor: pointer;
   margin-bottom: 15px;
 }
 .btn:hover {
  background: var(--primary);
  color: var(--white);
 }

 .product-detail .product-policy {
   border-top: 1px solid #ccc;
   padding-top: 10px;
 }

 .product-detail .product-policy p {
   margin: 3px 0;
 }

/* =============== cart ==================== */

body {
  background: var(--bg);
  color: var(--primary);
}


/* =================== Form Section =======================*/

.cart-wrapper {
            width: 100%;
            max-width: 1300px;
            margin: 30px auto;
            display: flex;
            gap: 20px;
        }

        /* LEFT */
        .cart-left {
            background: var(--white);
            padding: 25px;
            flex: 2;
        }

        .cart-h3 {
            margin-bottom: 15px;
            color: var(--secondary);
        }

        .cart-form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }


         .cart-save-btn {
            margin-top: 20px;
            padding: 10px;
            width: 120px;
            background: var(--accent);
            color: var(--white);
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .cart-save-btn:hover {
          background: var(--primary);
        }

         /* RIGHT */
        .cart-right {
            background: var(--white);
            padding: 20px;
            width: 300px;
        }
        
        #cart-display{
        background: var(--white);
        margin: 0px 104px;
        }

        /* ===================== cart display =================== */

.cart {
      padding: 0px 15px
}

.cart-header {
  display: flex;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.cart-header span {
  flex: 1;
  text-align: center;
}

.cart-header span:first-child {
  flex: 2;
  text-align: left;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.cart-item .product {
  display: flex;
  align-items: center;
  flex: 2;
}

.cart-item img {
  width: 80px;
  margin-right: 15px;
}

.cart-item .size-color-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cart-item .size {
  padding: 6px 12px;
  background: #f2f2f2;
  font-size: 14px;
}

.cart-item :is(.price, .quantity, .total-price) {
  flex: 1;
  text-align: center;
}

.cart-item .quantity input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
}

.cart-item .remove {
  background: transparent;
  border: none;
  flex: 1;
}

.cart-item .remove i {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.cart-total {
  margin: 50px 0 0 auto;
}

.cart-total h3 {
  margin-bottom: 15px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
}

.cart-total p:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.cart-total p:last-of-type {
  font-weight: bold;
}

.cart-total .btn {
  display: block;
  padding: 12px 30px;
  margin: 30px 0 0 auto;
}

/* ==== numb when we add item on cart ==== */
.cart-icon .cart-item-count {
  position: absolute;
    top: -5px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    text-align: center;
 }
 

 /* =========== Banner ============ */

 /* Baner-Box */
 #sm-banner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 #sm-banner .banner-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-image: url("Banner/B-1.jpg");
   min-width: 650px;
   height: 50vh;
   background-size: cover;
   background-position: center;
   padding: 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
 }

 #sm-banner .banner-box:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
 }

 #sm-banner .banner-box2 {
   background-image: url("Banner/B-2.jpg");
 }

 #sm-banner h4 {
   color: var(--white);
   font-size: 20px;
   font-weight: 300;
 }

 #sm-banner h2 {
   color: var(--white);
   font-size: 28px;
   font-weight: 800;
 }

 #sm-banner span {
   color: var(--white);
   font-size: 14px;
   font-weight: 500;
   padding-bottom: 15px;
 }

 #sm-banner .banner-box:hover button {
   background-color: var(--accent);
   border: 1px solid var(--accent);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
 }

    /* ============ Category Section =================== */
    .categories {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
      padding: 0px 80px;
    }
  
    .category-box {
      background-color: #FFFFFF;
      padding: 30px;
      text-align: center;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #D8D8D8;
      transition: 0.3s;
      height: 200px;
    }
  
    .category-box:hover {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    }

    .categories-btn {
      font-size: 13px;
        font-weight: 600;
        padding: 11px 18px;
        color: var(--primary);
        background-color: transparent;
        cursor: pointer;
        border: 1px solid var(--primary);
        outline: none;
        transition: 0.2s;
    }

    #categories-btn:hover {
      background: var(--accent);
      color: var(--white);
    }
    
    #categories-box-1 {
      background-image: url("Banner/jersey-collection.jpg");
    }

     #categories-box-2 {
      background-image: url("Banner/jersey-collection-1.jpg");
    }

     #categories-box-3 {
      background-image: url("Banner/jersey-collection-2.jpg");
    }

    .text {
    margin-right: 222px;
    margin-top: 45px
    }
 

/* ==================== Emial banner ====================== */
    #newsLetter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 20% 30%;
    background-color: #041e42;
  }

 #newsLetter h4{
   font-size: 22px;
   font-weight: 700;
   color: var(--white);
 }

  #newsLetter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary);
 }

  #newsLetter p span {
    color: #ffbd27;
}

 #newsLetter .form{
  display: flex;
  width: 40%;
 }

 #newsLetter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 }

  #newsLetter button{
    background-color: var(--accent);
    color: var(--white);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
        height: 53px;
          width: 101px;
          margin-top: -1px;
  }

/* ============== Footer ================ */
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
 
footer .Logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}

footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer.follow i:hover,
footer a:hover{
  color: #088178;
}

footer .copyright{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}



#store-2{
  margin-top: -12px;
}

.footer-fot{
  margin-top: -85px;
}

#visa{
  margin-top: 19px;
}

#google-pay{
    margin-left: -33px;
    padding-top: 44px;
}


/* =========================== contact details ====================================== */

/* ---- form detail ---- */

#form-details {
  display: flex;
  justify-content: space-between;
  padding: 70px;
      padding-bottom: 10px
}

#form-details form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid var(--white);
}

#form-details form button {
  background-color: var(--accent);
  color: var(--white);
  justify-items: center;
}

#form-details form button:hover {
  background-color: var(--primary);
}

/* -- contact image -- */

.support-section {
    text-align: center;
    padding: 20px 20px;
}

.support-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

.support-section .time {
    font-size: 16px;
    color: #555;
    margin-bottom: 50px;
}

.support-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}

.support-card {
    text-align: center;
}

.c-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 32px;
    color: #fff;
}

.c-icon.help {
    background: #5a5a5a;
}

.c-icon.viber {
    background: #7c4dff;
}

.c-icon.whatsapp {
    background: #25d366;
}

.c-icon.call {
    background: #b6e26a;
}

.support-card h4 {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

.support-card p {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

/* ---- contact and map ---- */



#contct-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contct-details .details {
  width: 40%;
}

#contct-details .details span,
#form-details form span {
  font-size: 15px;
    padding-bottom: 20px
}

#contct-details .details h2,
#form-details form h2 {
      font-size: 38px;
        line-height: 35px;
        padding: 12px 0;
}

#contct-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contct-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contct-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contct-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}


/*======= terms and condition ========= */

#tc-details {
  padding: 70px;
  padding-bottom: 10px
}

#tc-details #pp{
  margin-bottom: -15px;
}

/*======== Private and policy ========= */

#pp-details {
  padding: 70px;
  padding-bottom: 10px
}

#tc-details #ppp {
  margin-bottom: -15px;
}

/*======== About Us ========= */

.about-us {
  padding: 70px;
    padding-bottom: 10px
}

.about-container {
  margin: auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.about-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.about-container p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* ====================== Bank & Qr ====================== */

#bq-details {
  padding: 70px;
  padding-bottom: 10px
}

#bq {
  margin-top: 35px;
    margin-bottom: 40px;
}
 #bq-h4 {
    margin-bottom: 10px;
      margin-top: 30px;
 }

 .payment-wrapper {
   max-width: 900px;
   margin: auto;
   background: var(--white);
   border-radius: 8px;
  margin-top: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
 }

 .bank-section {
   margin-bottom: 30px;
      margin-top: 35px
 }

 .bank-row {
   display: flex;
   gap: 20px;
   padding: 20px 0;
   border-bottom: 0.5px solid var(--secondary);
 }

 .bank-row:last-child {
   border-bottom: none;
 }

 .bank-row img {
      width: 313px;
        height: auto;
        margin-left: 150px;
 }

 .bank-row h4 {
   margin-bottom: 5px;
   color: #222;
 }

 .bank-row p {
   font-size: 14px;
   color: #555;
   line-height: 1.6;
   margin: 0px;
 }

 .qr-section {
  padding: 70px;
    padding-bottom: 10px;
    padding-top: 1px;
 }

 .qr-section h3 {
   margin-bottom: 10px;
 }

 .note {
   font-size: 14px;
   color: #666;
   margin-bottom: 20px;
 }

 .qr-section h4 {
   margin-bottom: 15px;
 }

 .qr-box {
   display: inline-block;
   padding: 20px;
   border: 2px solid var(--primary);
   border-radius: 6px;
   margin-bottom: 20px;
 }

 .qr-box img {
   width: 200px;
   margin-bottom: 10px;
 }

 .merchant {
   font-weight: bold;
   margin-bottom: 5px;
 }

 .accept {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
      padding: 30px;
      padding-top: 0px;
 }

 .accept img {
  height: 62px;
    border: 2px solid black;
 }

 #wallet-pay {
  align-items: center;
  text-align: center;
 }

 #wallet-pay h4 {
      padding: 30px;
 }



